.grid {
    display: grid;
    grid-template-columns: 50px auto 300px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 1em;
}

header {
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: #333333;
}

.header_title {
    color: white;
    font-style: italic;
    font-size: 30px;
    margin-left: 15px;
    padding-top: 20px;
}

.header_description {
    color: gray;
    font-size: 12px;
    margin-left: 40px;
    padding-bottom: 1px;
}

.sidebar-left {
    grid-row: 2;
    grid-column: 1 / 2;
}

main {
    grid-row: 2;
    grid-column: 2 / 3;
}

.article {
    box-shadow: 0 0 5px gray;
    padding: 10px 30px;
    min-height: 100px;
    margin: 10px;
    border-radius: 5px;
}

.sidebar-right {
    grid-row: 2;
    grid-column: 3 / 4;
}

footer {
    grid-row: 3;
    grid-column: 1 / 4;
}
