.grid {
    display: grid;
    grid-template-columns: 250px auto 150px;
    grid-template-rows: 80px auto 50px;
}

header {
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: #333333;
}

.header_title {
    color: white;
    font-style: italic;
    font-size: 24px;
    margin-left: 50px;
    padding-top: 10px;
}

.header_description {
    color: gray;
    font-size: 12px;
    margin-left: 80px;
    padding-bottom: 1px;
}

.add-button {
    margin: 20px 62px;
}

.sidebar-left {
    grid-row: 2;
    grid-column: 1 / 2;
    padding-left: 5px;
}

main {
    grid-row: 2;
    grid-column: 2 / 3;
}

.article {
    min-height: 100px;
    margin: 10px;
}

.add-entity {
    box-shadow: 0 0 5px gray;
    padding: 30px 30px 55px 30px;
    margin: 30px;
    border-radius: 5px;
}

#articleContent {
    min-height: 300px;
}

#articleActionsButton {
    float: right;
}

.sidebar-right {
    grid-row: 2;
    grid-column: 3 / 4;
}

footer {
    grid-row: 3;
    grid-column: 1 / 4;
}