<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: header-files">
    <title th:text="#{title}"></title>
</head>
<body>
<header th:replace="fragments/general :: header"></header>
<aside th:replace="fragments/general :: sidebar-left"></aside>
<main>
    <div th:if="${allArticles != null}">
        <div class="card article" th:each="article: ${allArticles}">
            <div class="card-body">
                <h3><a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}"
                       class="card-title"></a></h3>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${article.category.name}"></h6>

                <p class="card-text" th:utext="${article.htmlContent}"></p>
                <small class="text-muted"
                       th:text="${'Created at: ' + #temporals.format(article.creationDateTime, 'dd-MM-yyyy HH:mm:ss')}"></small>
                <small class="text-muted" th:if="${article.updateDateTime != null}"
                       th:text="${'Edited at:' + #temporals.format(article.updateDateTime, 'dd-MM-yyyy HH:mm:ss')}"></small>
            </div>
        </div>
    </div>
</main>
<aside th:replace="fragments/general :: sidebar-right"></aside>
<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>