<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заметки познающего</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
    <!-- css-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
</head>
<body>
<div class="grid">
    <header>
        <div class="header_title">Заметки познающего</div>
        <div class="header_description">
            <p>В данном блоге содержаться статьи, заметки и просто мысли на различные темы</p>
        </div>
    </header>
    <aside class="sidebar-left">
        <a type="button" class="btn btn-secondary add-button" th:href="@{/addArticle}">+ add article</a>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-light"
               th:classappend="${#strings.containsIgnoreCase(#httpServletRequest.requestURI, 'category') ? '' : 'active'}"
               th:href="@{/}">
                All
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light"
               th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'category/' + category.id) ? 'active' : ''}"
               th:each="category: ${allCategories}"
               th:text="${category.name}" th:href="@{/category/{id}(id=${category.id})}">
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light"
               th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'addCategory') ? 'active' : ''}"
               th:href="@{/addCategory}">
                + add new category...
            </a>
        </div>

    </aside>
    <main>
        <!-- Add article form -->
        <div class="add-entity" th:if="${article != null}">
            <form th:action="@{/saveArticle}" th:object="${article}" method="post">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input style="visibility: hidden; display: none" th:field="*{id}"/>
                <div class="form-group">
                    <label for="articleTitle">Article</label>
                    <input type="text" th:field="*{title}" class="form-control" id="articleTitle" placeholder="Title"/>
                </div>
                <div class="form-group">
                    <select class="custom-select" id="articleCategory" name="category" th:field="*{category.id}">
                        <option th:value="${category.id}" th:text="${category.name}"
                                th:each="category: ${allCategories}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="new-article form-control" aria-label="Content" id="articleContent"
                              th:field="*{content}" placeholder="Content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary float-right ml-2 mb-2">Save</button>
                <a class="btn btn-secondary float-right" th:href="@{/}">Cancel</a>
            </form>
        </div>

        <!-- Add category form -->
        <div class="add-entity" th:if="${newCategory != null}">
            <form th:action="@{/saveCategory}" th:object="${newCategory}" method="post">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input style="visibility: hidden; display: none" th:field="*{id}"/>
                <div class="form-group">
                    <label for="categoryName">Category name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="categoryName" placeholder="Name"/>
                </div>
                <button type="submit" class="btn btn-primary float-right ml-2">Save</button>
                <a class="btn btn-secondary float-right" th:href="@{/}">Cancel</a>
            </form>
        </div>

        <!-- Article list -->
        <div th:if="${allArticles != null}">
            <div class="card article" th:each="article: ${allArticles}">
                <div class="card-body">
                    <div>
                        <div id="articleActionsButton">
                            <button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenu"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item" th:href="@{/editArticle/{id}(id=${article.id})}">Edit</a>
                                <button type="button" class="dropdown-item" data-toggle="modal"
                                        data-target="#confirmDeletionModal">
                                    Delete
                                </button>
                            </div>
                        </div>
                        <h5 class="card-title" th:text="${article.title}"></h5>
                    </div>

                    <h6 class="card-subtitle mb-2 text-muted" th:text="${article.category.name}"></h6>

                    <p class="card-text" th:text="${article.content}"></p>
                    <small class="text-muted"
                           th:text="${'Created at: ' + #temporals.format(article.creationDateTime, 'dd-MM-yyyy HH:mm:ss')}"></small>
                    <small class="text-muted" th:if="${article.updateDateTime != null}"
                           th:text="${'Edited at:' + #temporals.format(article.updateDateTime, 'dd-MM-yyyy HH:mm:ss')}"></small>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="confirmDeletionModal" tabindex="-1" role="dialog"
                     aria-labelledby="confirmDeletionLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeletionLabel">Attention</h5>
                            </div>
                            <div class="modal-body">
                                Delete article?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary"
                                   th:href="@{/deleteArticle/{id}(id=${article.id})}">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <aside class="sidebar-right">
    </aside>
    <footer>
    </footer>
</div>
</body>
</html>